@import "../../style/utils";

$header-height: 40px;

.header {
  background-color: #f54f36;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 100;

  &-content {
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-grow: 1;

    &-wrapper {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      height: 100%;

      // stylelint-disable-next-line max-nesting-depth
      @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &-title {
    flex-grow: 1;
    font-size: 24px;
    line-height: $header-height;
    text-align: center;
  }

  &-hamburger {
    $animation-duration: .25s;
    position: relative;
    font-size: 25px;
    cursor: pointer;
    width: 1em;
    height: 1em;
    margin-left: 65px;

    &-times {

      // stylelint-disable-next-line max-nesting-depth
      &:before,
      &:after {
        content: "";
        width: 1em;
        height: 3px;
        background-color: $c-white;
        position: absolute;
        transition: transform $animation-duration linear;
        transform-origin: left center;
      }

      // stylelint-disable-next-line max-nesting-depth
      &:before {
        top: 0;
      }

      // stylelint-disable-next-line max-nesting-depth
      &:after {
        bottom: 0;
      }
    }

    &-line {
      width: 1em;
      height: 3px;
      margin-top: calc(.5em - 1.5px);
      background-color: $c-white;
      transition: opacity $animation-duration linear;
    }

    // stylelint-disable-next-line max-nesting-depth
    &.active {

      // stylelint-disable-next-line max-nesting-depth
      .header-hamburger {

        // stylelint-disable-next-line max-nesting-depth
        &-times {

          // stylelint-disable-next-line max-nesting-depth
          &:before {
            transform: rotate(45deg) scaleX(1.2);
          }

          // stylelint-disable-next-line max-nesting-depth
          &:after {
            transform: rotate(-45deg) scaleX(1.2);
          }
        }

        // stylelint-disable-next-line max-nesting-depth
        &-line {
          opacity: 0;
        }
      }
    }
  }

  &-menu {
    transition: height 500ms;
    min-height: 0;
    box-shadow: rgba(0, 0, 0, .2) 0px 3px 15px;

    @media (min-width: $tablet-width) {
      min-height: $header-height;
      box-shadow: none;
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    &-content {
      padding: 15px;
      background-color: rgba(244, 67, 54, .9);
      height: calc(100vh - #{$header-height});
      overflow: auto;

      // stylelint-disable-next-line max-nesting-depth
      @media (min-width: $tablet-width) {
        padding: 0;
        height: auto;
      }
    }
  }

  &-icon {
    cursor: pointer;
    width: $header-height;
    height: $header-height;
    font-size: $header-height;
    opacity: .7;
    transition: opacity .25s linear;
    will-change: opacity;

    &:hover {
      opacity: 1;
    }
  }
}

.hide {

  &-from-tablet {
    @media (min-width: $tablet-width) {
      display: none !important;
    }
  }

  &-till-tablet {
    @media (max-width: $tablet-width - 1px) {
      display: none !important;
    }
  }
}
