.home {
    padding: 56px 20px;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, #f44336, #ffeb3b);
}

.note {
    &Title {
        margin: 0;
        padding: 15px 0 10px;
        text-align: center;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        cursor: move;

        @media (pointer: coarse) {
            pointer-events: none;
        }
    }

    &Description {
        padding: 10px 0;
        height: 100%;
    }
}

:global {
    .react-grid-item {
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        color: #ffffff;
        overflow: hidden;
    }

    .react-grid-layout {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }

    .react-grid-item.react-grid-placeholder {
        background: #673ab7;
    }

    [data-draggable] {
        cursor: move;
    }
}
