.home {
    padding: 56px 20px;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, #f44336, #ffeb3b);
}


:global {
    .react-grid-item {
        background-color: rgba(63, 81, 181, 0.7);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        color: #ffffff;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .react-grid-layout {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }

    .react-grid-item.react-grid-placeholder {
        background: #673ab7;
    }

    [data-draggable] {
        cursor: move;
    }
}
