.add-note-form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 35px;
    padding: 10px 0;

    .btn-file {
        margin-left: 15px;
    }

    .field {
        margin-bottom: 10px;
    }
}

.btn-file {
    position: relative;

    input[type='file'] {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scale(5);

        &::-webkit-file-upload-button {
            cursor: pointer;
        }
    }
}

.buttons-group {
    display: flex;
    justify-content: space-between;
}
