.add-note-form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 0;
    margin-bottom: 35px;

    .field-error {
        position: absolute;
        top: -3px;
        right: 0;
    }

    .btn-file {
        margin-left: 15px;
    }
}

.control-field {
    margin-bottom: 10px;
    position: relative;
}

.form-control {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border: 0;
    border-radius: 2px;
    padding: 0 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    resize: vertical;
    min-height: 35px;
    font-size: 16px;
    position: relative;
    z-index: 1;

    &:focus {
        outline: none;
        box-shadow: 0 0 5px #2196f3;
    }
}

.btn-file {
    position: relative;

    input[type='file'] {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scale(5);

        &::-webkit-file-upload-button {
            cursor: pointer;
        }
    }
}

.buttons-group {
    display: flex;
    justify-content: space-between;
}
