@import '../../style/utils';

.btn {
    height: 35px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    min-width: 100px;
    transition: opacity 0.25s linear, box-shadow 0.25s linear;
    will-change: opacity, box-shadow;
    overflow: hidden;

    @include mobile() {
        width: 100%;
    }

    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 5px #2196f3;
    }

    &-content {
        position: relative;
        z-index: 1;
    }

    &-gradient-basis {
        color: #ffffff;
        position: relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transition: opacity 0.25s linear;
            will-change: opacity;
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }

        &:active,
        &:focus {
            &:after {
                opacity: 1;
            }
        }
    }

    &-hot {
        background: linear-gradient(to right bottom, #fc4a1a, #ff9800);

        &:before {
            background: linear-gradient(to right bottom, #fc4a1a, #ffc107);
        }

        &:after {
            background: linear-gradient(to right bottom, #fc4a1a, #ffeb3b);
        }
    }

    &-primary {
        background: linear-gradient(to right bottom, #000046, #000046);

        &:before {
            background: linear-gradient(to right bottom, #000046, #3f51b5);
        }

        &:after {
            background: linear-gradient(to right bottom, #000046, #1cb5e0);
        }
    }

    .icon {
        font-size: inherit;
    }
}
