{
    "presets": [
        "next/babel",
        "flow",
        [
            "env",
            {
                "targets": {
                    "node": "8.9.1"
                },
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-flow",
        "transform-flow-strip-types",
        [
            "module-resolver",
            {
                "root": ["./server", "./src"],
                "alias": {
                    "@root": "./server/",
                    "@config": "./server/common/config/",
                    "@common": "./src/common"
                }
            }
        ],
        [
            "transform-react-jsx",
            {
                "pragmaFrag": "\"div\""
            }
        ]
    ],
    "env": {
        "production": {
            "plugins": ["transform-flow-strip-types"]
        },
        "development": {
            "plugins": [
                [
                    "flow-runtime",
                    {
                        "assert": true,
                        "annotate": true
                    }
                ]
            ]
        }
    }
}
