@import 'icons';

html,
body,
body > div:first-child,
#__next,
#app {
    height: 100%;
    width: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
    background: #fafafa;
    font-family: sans-serif, arial;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: inherit;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.cp {
    cursor: pointer;
}
