{
    "presets": [
        "next/babel",
        "@babel/preset-flow",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "8.9.1"
                },
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-syntax-flow",
        "@babel/plugin-transform-flow-strip-types",
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "root": ["./"],
                "alias": {
                    "@root": "./server/",
                    "@config": "./server/common/config/",
                    "@common": "./src/common"
                }
            }
        ]
    ],
    "env": {
        "production": {
            "plugins": ["@babel/plugin-transform-flow-strip-types"]
        },
        "development": {
            "plugins": [
                [
                    "flow-runtime",
                    {
                        "assert": true,
                        "annotate": true
                    }
                ]
            ]
        }
    }
}
