@import '../../../../common/style/utils';

.note {
    position: relative;
    //height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(63, 81, 181, 0.7);
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: $c-white;
    overflow: hidden;
    margin-bottom: 15px;
    transition: box-shadow 0.15s ease, background-color 0.15s ease;
    will-change: box-shadow, background-color;

    &:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }

    &.isDragging {
        opacity: 0;
    }

    &.isLoading {
        background-color: #3f51b5;
        cursor: not-allowed;

        * {
            cursor: not-allowed;
        }
    }

    &-title {
        margin: 0;
        padding: 15px 35px 10px;
        text-align: center;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        cursor: move;
        @include ellipsis();

        .form-control {
            text-align: center;
        }
    }

    &-description {
        padding: 10px;
        white-space: pre-wrap;
        word-break: break-all;

        &.is-editing {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
        }

        &-control {
            flex-grow: 1;
            resize: none;
            border: 0;
            border-radius: 3px;
            font-size: 16px;
        }
    }

    .icon {
        color: $c-white;
        width: 20px;
        height: 20px;
        font-size: 20px;
        position: absolute;
        top: 5px;
        cursor: pointer;

        &-left {
            left: 5px;
        }

        &-right {
            right: 5px;
        }

        &-submit {
            border: 0;
            background: transparent;
            width: 0;
            height: 0;
            outline: none;
            position: absolute;
        }
    }

    &-link {
        color: $c-white;
    }

    .buttons-group,
    .files-list {
        padding: 10px;
    }

    .buttons-group {
        display: flex;
        justify-content: center;
    }
}
