.field {
  position: relative;

  &__control {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border: 0;
    border-radius: 2px;
    padding: 0 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    resize: vertical;
    min-height: 35px;
    font-size: 16px;
    position: relative;
    z-index: 0;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px #2196f3;
    }
  }

  .field-error {
    position: absolute;
    top: -3px;
    right: 0;
  }
}
