.field-error {
    background-color: rgba(255, 17, 0, 0.75);
    border-radius: 3px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    pointer-events: none;
    user-select: none;
}

.hopping-anim {
    &-enter {
        &-active,
        &-done {
            animation: hopping-anim 350ms ease-out both;
        }
    }

    &-exit {
        &-active {
            animation: hopping-anim 350ms ease-out both reverse;
        }
    }
}

@keyframes hopping-anim {
    0% {
        transform: translateY(0);
        z-index: 0;
    }

    50% {
        transform: translateY(-100%);
        z-index: 1;
    }

    100% {
        transform: translateY(0);
        z-index: 1;
    }
}
