.zoom-anim {
  &-enter {
    transform: scale(0);

    &.zoom-anim-enter-active {
      transform: scale(1);
      transition: transform 250ms ease-out;
    }
  }

  &-exit {
    opacity: 1;
    transform: scale(1);

    &.zoom-anim-exit-active {
      transform: scale(0);
      transition: transform 250ms ease-out;
    }
  }
}
