<h1>To Do List</h1>

<form name="NewTodoForm"
      novalidate
      class="input-form w100"
      ng-submit="NewTodoForm.$valid && todoPage.addTodo()">
  <div class="title-input-container">
    <input type="text"
           class="title-input w100"
           placeholder="Enter some title here..."
           ng-model="todoPage.newTodo.title"
           ng-trim="false"
           required>
  </div>
  <div class="description-input-container">
    <textarea class="description-area w100"
              ng-model="todoPage.newTodo.description"
              ng-trim="false"
              placeholder="Enter some description here..."
              required></textarea>
  </div>
  <div class="buttons-container">
    <button class="btn-add-todo"
            type="submit"
            ng-disabled="NewTodoForm.$invalid">
      Add!
    </button>
  </div>
</form>

<div class="todos-container">
  <form name="todoItemForm"
        novalidate
        class="todo-item"
        ng-repeat="todo in todoPage.todoList track by todo.id">

    <i class="glyphicon glyphicon-remove remove-todo"
       ng-click="todoPage.removeTodo($index)"></i>

    <i class="glyphicon glyphicon-pencil edit-todo"
       ng-click="todoPage.editTodo(todo.id)"
       ng-hide="todoPage.isEditingTodo[todo.id]"></i>

    <i class="glyphicon glyphicon-floppy-disk save-todo"
       ng-click="todoItemForm.$valid && todoPage.saveTodo($index, todo.id)"
       ng-show="todoPage.isEditingTodo[todo.id]"
       ng-disabled="todoItemForm.$invalid"></i>

    <div ng-if="!todoPage.isEditingTodo[todo.id]">
      <h3 class="todo-title">{{todo.title}}</h3>
      <div class="todo-description" ng-bind-html="todo.description | trust: 'html'">
      </div>
    </div>

    <div class="todo-for-edit-cnt" ng-if="todoPage.isEditingTodo[todo.id]">
      <h3 class="todo-title">
        <input class="w100 edit-input"
               type="text"
               name="todoTitle"
               placeholder="Enter title here..."
               ng-model="todo.title"
               ng-trim="false"
               required />
      </h3>
      <div class="todo-description">
        <textarea class="w100 mw100 edit-description"
                  name="todoDescription"
                  placeholder="Enter description here..."
                  ng-model="todo.description"
                  ng-trim="false"
                  required></textarea>
      </div>
    </div>

  </form>
</div>
