<div class="wh100 notes-page">

  <h1 class="text-center">Notes</h1>

  <form [formGroup]="newNoteForm"
        (ngSubmit)="newNoteForm.valid && addNote()"
        class="input-form w100"
        novalidate>
    <div class="title-input-container">
      <input type="text"
             class="title-input w100"
             placeholder="Enter some title here..."
             [formControl]="newNoteForm.controls.title">
    </div>
    <div class="description-input-container">
      <textarea class="description-area w100"
                [formControl]="newNoteForm.controls.description"
                placeholder="Enter some description here..."
                stretch-by-content="{{newNoteForm.controls.description.value}}"></textarea>
    </div>
    <div class="buttons-container">
      <button class="btn-add-note"
              type="button"
              (click)="newNoteForm.valid && addNote()"
              [disabled]="!newNoteForm.valid">
        Add!
      </button>
      <button class="btn-logout"
              type="button"
              *ngIf="auth"
              (click)="logout()">
        Logout
        <i class="glyphicon glyphicon-log-out"></i>
      </button>
    </div>
  </form>

  <div class="notes-container"
       *ngIf="auth"
       masonry
       [options]="{ transitionDuration: '0.3s' }"
       #masonryContainer>
    <div class="note-wrap"
         masonry-brick
         *ngFor="let note of notesList | async; trackBy: trackFbObjects">
      <note [note]="note"
            [isEditingNote]="isEditingNote[note.id]"
            (onEdit)="editNote($event)"
            (onRemove)="removeNote($event)"
            (onSave)="saveNote($event)"
            (onUpdateLayout)="updateLayout()"></note>
    </div>
  </div>

  <login-popup *ngIf="!auth"
               (onLogin)="login()"></login-popup>
</div>
