@import "../../styles/_mixins.scss";
@import "../../styles/_colors.scss";

$note-offset: 20px;

.input-form {
  border: 0;
  background: $blue;
  padding: 15px;
  @include box-shadow-animated();

  .title-input-container, .description-input-container {
    margin-bottom: 15px;
  }

  .title-input {
    font-size: 24px;
    padding: 10px 15px;
  }

  .description-area {
    font-size: 16px;
    padding: 10px 15px;
    max-width: 100%;
  }

  .btn-add-note {
    border: 0;
    background: $red;
    color: $white1;
    padding: 10px 15px;
    cursor: pointer;

    @include if-disabled();
  }
}

.notes-container {
  margin-bottom: $note-offset;
}

note {
  width: 100%;
  display: inline-block;
  background: $violet;
  margin-top: $note-offset;
  color: $white;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  @include box-shadow-animated();
}

@media all and (min-width: 520px) {
  .notes-container {
    margin-right: -$note-offset;
  }

  .note-wrap {
    margin-right: $note-offset;
  }
}

@media all and (min-width: 520px) and (max-width: 779px) {
  .note-wrap {
    width: calc(50% - 20px);
  }

}

@media all and (min-width: 780px) {
  .note-wrap {
    width: 240px;
  }
}

