.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
  background: linear-gradient(to right bottom, #f44336, #ffeb3b);

  .login-info {
    color: #ffffff;
    font-size: 18px;
  }

  .login-form {
    max-width: 350px;
    width: 100%;

    .btn {
      width: 100%;
    }
  }
}
