@import "mixins.scss";
@import "colors.scss";

.input-form {
  border: 0;
  background: $blue;
  padding: 15px;
  @include box-shadow-animated();

  .title-input-container, .description-input-container {
    margin-bottom: 15px;
  }

  .title-input {
    font-size: 24px;
    padding: 10px 15px;
  }

  .description-area {
    font-size: 16px;
    padding: 10px 15px;
    max-width: 100%;

  }

  .btn-add-todo {
    border: 0;
    background: $red;
    color: $white1;
    padding: 10px 15px;
    cursor: pointer;

    @include if-disabled();
  }
}

.todos-container {
  display: flex;
  flex-wrap: wrap;
}

.todo-item:nth-child(3n-1) {
  margin: 20px 20px 0;
}

.todo-item {
  width: 240px;
  display: inline-block;
  background: $violet;
  margin-top: 20px;
  padding: 10px 15px;
  color: $white;
  position: relative;
  vertical-align: top;
  @include box-shadow-animated();


  .remove-todo {
    position: absolute;
    top: 5px;
    right: 5px;
    font-style: normal;
    cursor: pointer;
    color: $white;
  }

  .edit-todo {
    position: absolute;
    top: 5px;
    left: 5px;
    font-style: normal;
    cursor: pointer;
    color: $white;
  }

  .save-todo {
    position: absolute;
    top: 5px;
    left: 5px;
    font-style: normal;
    cursor: pointer;
    color: $white;
    @include if-disabled();
  }

  .todo-title, .todo-description {
    .edit-input, .edit-description {
      color: $black;
    }

    .edit-input {
      text-align: center;
    }
  }

  .todo-title {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }

  .todo-description {
    padding: 5px 0;
  }

  div:not(.todo-for-edit-cnt) {
    .todo-title, .todo-description {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}
