@import "../../../../style/utils";

:global {
  .note {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    &-title {
      margin: 0;
      padding: 15px 35px 10px;
      text-align: center;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      cursor: move;
      @include ellipsis();

      @media (pointer: coarse) {
        pointer-events: none;
      }

      .form-control {
        text-align: center;
      }
    }

    &-description {
      padding: 10px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      white-space: pre-wrap;
      word-break: break-all;

      &-control {
        flex-grow: 1;
        resize: none;
        border: 0;
        border-radius: 3px;
        font-size: 16px;
      }
    }

    .icon {
      color: $c-white;
      width: 20px;
      height: 20px;
      font-size: 20px;
      position: absolute;
      top: 5px;
      cursor: pointer;

      &-left {
        left: 5px;
      }

      &-right {
        right: 5px;
      }

      &-submit {
        border: 0;
        background: transparent;
        width: 0;
        height: 0;
        outline: none;
        position: absolute;
      }
    }

    &-link {
      color: $c-white;
    }
  }
}